.hidden {
    display: none;
}

.navbar {
    z-index: 999;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #2C272E;
    padding: 15px;
    width: 100%;
    height: 60px;
    font-size: 30px;
    text-decoration: none;
    transition: background-color .5s ease 0s;
}

.btn {
    display: inline-block;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 0.05em;
    color: #D3D1C7;
    line-height: 20px;
    padding-bottom: 10px;
    transition: color .5s ease 0s;
}

.btn:after {    
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    display: block;
    width: 0;
    height: 2px;
    background: none repeat scroll 0 0 transparent;
    background-color: #D3D1C7;
    transition: width 0.3s ease 0s, left 0.3s ease 0s, background-color .5s ease 0s;
}

.btn:hover:after { 
    left: 0;
    width: 100%;
}

@media screen and (max-height: 300px) {
    ul {
        margin-top: 40px;
    }
}


.infos {
    display: flex;
    justify-content: center;
    margin-top: 60px;
    padding-bottom: 30px;
    width: 100%;
    height: 100%;
}

.header {
    padding: 30px;
}

.header > p {
    color: #2C272E;
    font-size: 30px;
    font-weight: 300;
    transition: color .5s ease 0s;
}

.content {
    width: 100%;
}

.grid {
    display: flex;
    justify-content: space-between;
    padding-bottom: 30px;
}

.cols:nth-child(1) {
    margin-right: 100px;
}

.cols:nth-child(2) {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.cols:nth-child(n+1) > div {
    display: flex;
    flex-wrap: wrap;
}

.cols p {
    width: max-content;
    color: #2C272E;
    transition: color .5s ease 0s;
}

span {
    margin-left: 10px;
    font-weight: 300;
    color: #444;
    transition: color .5s ease 0s;
}

.list {
    list-style-position: inside;
}

.list > li {
    width: max-content;
    font-weight: 300;
    color: #444;
    transition: color .5s ease 0s;
}

.concert {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.table {
    display: flex;
    justify-content: space-between;
    width: 100%;
    border-collapse: collapse;
}

.tablecols {
    flex: 1 1 50%;
    list-style: none;
    border-collapse: collapse;
    font-weight: 300;
    text-align: center;
    color: #444;
    transition: color .5s ease 0s;
}

.tableTitle {
    margin-bottom: 15px;
    font-size: 1.5em;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: .15em;
    color: #333;
    transition: color .5s ease 0s;
}

.tableColsTitle {
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: .15em;
    color: #2C272E;
    transition: color .5s ease 0s;
}

.tablecols > li {
    padding: 5px 0;
    border-collapse: collapse;
    border: 1px solid #000;
    transition: border .5s ease 0s;
}

@media screen and (max-width: 768px) {
    .infos {
        padding: 0 20px;
    }

    .cols:nth-child(1) {
        margin-right: 0;
    }
}

/** css map **/

#map {
    --size: 400px;
    margin-top: 50px;
    margin-bottom: 50px;
    height: var(--size);
}

/* DARK THEME */

[data-theme="dark"] .navbar {
    background-color: #D3D1C7;
}

[data-theme="dark"] .btn {
    color: #2C272E;
}

[data-theme="dark"] .btn:after {
    background-color: #2C272E;
}

[data-theme="dark"] .header > p {
    color: #D3D1C7;
}

[data-theme="dark"] .cols p {
    color: #D3D1C7
}

[data-theme="dark"] span {
    color: #b7b4a4;
}

[data-theme="dark"] .list > li {
    color: #b7b4a4;
}

[data-theme="dark"] .tablecols {
    color: #b7b4a4;
}

[data-theme="dark"] .tableTitle {
    color: #d9d7cf;
}

[data-theme="dark"] .tableColsTitle {
    color: #D3D1C7;
}

[data-theme="dark"] .tablecols > li {
    border: 1px solid #fff;
}