.hidden {
    display: none;
}

.navbar {
    z-index: 999;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #D3D1C7;
    padding: 15px;
    width: 100%;
    height: 60px;
    font-size: 30px;
    text-decoration: none;
}


.back {
    position: relative;
    display: inline-block;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 0.05em;
    color: #2C272E;
    height: 10;
    line-height: 20px;
    padding-bottom: 10px;
}

.back:after {    
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    display: block;
    width: 0;
    height: 2px;
    background: none repeat scroll 0 0 transparent;
    background: #2C272E;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
}

.back:hover:after { 
    left: 0;
    width: 100%;
}

.navSearch {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 250px;
    height: 100%;
}

.search {
    flex-grow: 1;
    z-index: 4;
    position: relative;
    padding: 7px 0 7px 10px;
    border: 3px solid transparent;
    background-color: #2C272E;
    outline: none;
    font-size: 1rem;
    color: #D3D1C7;
}

.search:hover {
    background-color: #373039;
}

.searchBtn {
    padding: 10.75px 12px;
    border: 1px solid #2C272E;
    background-color: #D3D1C7;
    color: #2C272E;
    outline: none;
    cursor: pointer;
    transition: filter .3s ease 0s;
}

.searchBtn:hover {
    filter: brightness(90%);
}

.suggestList {
    z-index: 3;
    position: absolute;
    top: 119%;
    left: -3px;
    width: 102.4%;
    max-height: 0px;
    list-style: none;
    background-color: #fff;
    overflow: auto;
    box-shadow: 0px 5px 8px 0px rgba(0, 0, 0, 0.2);
    transition: .3s ease-in-out;
}

.suggestList.suggestList_Active {
    max-height: 300px;
}

.suggestList > li {
    height: max-content;
}

.suggestList > li:not(:last-child) {
    border-bottom: 1px solid #ddd;
}

.suggestList > li > a {
    display: block;
    padding: 10px;
    width: 100%;
    height: 100%;
    font-size: 1rem;
    text-decoration: none;
    text-transform: capitalize;
    color: #2C272E;
    cursor: pointer;
    transition: background-color .3s ease 0s;
}

.suggestList > li > a:hover {
    background-color: #eee;
}

.artists {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin-top: 60px;
    width: 100%;
}

.title {
    margin-top: 2rem;
    font-size: 3em;
    font-weight: 300;
    text-align: center;
    color: #fff;
}

.container {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 2em;
    width: 100%;
}

.thumbnail {
    position: relative;
    background-color: #fff;
    display: flex;
    margin: 1.5em;
    background-color: #2C272E;
    overflow: hidden;
    color : #2C272E;
    cursor: pointer;
    border-radius: 7px;
}

.thumbnail > img {
    width: 250px;
    height: auto;
    transition: filter .3s;
}

.thumbnail:hover > img {
    filter: blur(4px);
}

.thumbnail > .hover-text {
    background-color: rgba(128, 128, 128, .3);
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    font-size: 1.5em;
    font-weight: 300;
    text-align: center;
    color: #fff;
    opacity: 0;
    transition: opacity .3s;
}

.thumbnail:hover > .hover-text {
    opacity: 1;
}