.location, .value-list {
    padding-right: 10px;
    width: 100%;
}

.location {
    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: 4px;
    height: 4rem;
    font-size: 1.1rem;
    padding: 1rem;
    background-color: #2C272E;
    border: 3px solid transparent;
    transition: .3s ease-in-out;
    color: #D3D1C7;
}

.location::-webkit-input-placeholder {
    color: #D3D1C7;
}

.location:hover {
    background-color: #373039;
    cursor: pointer;
    color: #D3D1C7;
}

.location:hover::webkit-input-placeholder {
    color: #D3D1C7;
}

.location:focus, .location.open {
    box-shadow: 0px 5px 8px 0px rgba(0, 0, 0, 0.2);
    outline: 0;
    background-color: #2C272E;
    color: #D3D1C7;
}

.location:focus, .location.open::-webkit-input-placeholder {
    color: #D3D1C7;
}

.value-list {
    position: absolute;
    list-style: none;
    box-shadow: 0px 5px 8px 0px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    max-height: 0;
    transition: .3s ease-in-out;
}

.value-list.open {
    max-height: 200px;
    overflow: auto;
}

.value-list li {
    position: relative;
    height: 4rem;
    background-color: #FAFCFD;
    padding: 1rem;
    font-size: 1.1rem;
    display: flex;
    align-items: center;
    cursor : pointer;
    transition: background-color .3s;
    opacity: 1;
}

.value-list li:hover {
    background-color: #D3D1C7;
}

.value-list li.closed {
    max-height: 0;
    overflow: hidden;
    padding: 0;
    opacity: 0;
}