.filtersContainer {
    --btnSize: 100px;
    --panelSize: 400px;
    z-index: 2;
    position: fixed;
    top: 60px;
    right: calc(-1 * var(--panelSize));
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: var(--panelSize);
    height: calc(100vh - 60px);
    border-top: 1px solid #988b9d;
    background-color: #D3D1C7;
    transition: right 1s ease 0s;
}

.filtersContainer > * {
    overflow-y: scroll;
}

.filtersActive {
    right: 0;
}

.filtersContainer:not(.filtersActive) > .menu {
    margin-left: calc(0px - var(--btnSize));
}

.filtersContainer.filtersActive .line {
    stroke: #2C272E;
}


/* START Button */
.menu {
    display: flex;
    padding: 0;
    width: var(--btnSize);
    height: var(--btnSize);
    background-color: transparent;
    border: none;
    cursor: pointer;
    transition: margin-left 1s ease 0s;
}

.line {
    fill: none;
    stroke: #D3D1C7;
    stroke-width: 6;
    transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1), stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1), stroke 1s ease 0s;
}

.line1 {
    stroke-dasharray: 60 207;
    stroke-width: 6;
}

.line2 {
    stroke-dasharray: 60 60;
    stroke-width: 6;
}

.line3 {
    stroke-dasharray: 60 207;
    stroke-width: 6;
}

.opened .line1 {
    stroke-dasharray: 90 207;
    stroke-dashoffset: -134;
    stroke-width: 6;
}

.opened .line2 {
    stroke-dasharray: 1 60;
    stroke-dashoffset: -30;
    stroke-width: 6;
}

.opened .line3 {
    stroke-dasharray: 90 207;
    stroke-dashoffset: -134;
    stroke-width: 6;
}
/* END Button */

.filtersPanel {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 50px 20px;
    height: 100%;
}

.filtersTitle {
    margin-bottom: 30px;
    font-size: 3em;
    font-weight: 300;
    text-align: center;
}

.filters {
    flex-grow: 1;
    width: 100%;
}

.label {
    font-size: 1.25em;
    font-weight: 300;
}

.separator {
    --margin: 0px;
    margin: 25px var(--margin);
    width: calc(100% - var(--margin) * 2);
    border-top: 1px solid #2C272E;

}

.results {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.input-number {

}

.filtersSubmit {
    display: block;
    padding: 15px 40px;
    border: none;
    border-radius: 7px;
    background-color: #2C272E;
    font-size: 1.2em;
    text-align: center;
    color: #D3D1C7;
    cursor: pointer;
    transition: filter .3s ease 0s;
}

.filtersSubmit:hover {
    filter: brightness(130%);
}