.landing {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-color: #D3D1C7;
    transition: background-color .5s ease 0s;
}

.thContainer {
    position: absolute;
    top: 20px;
    right: 20px;
}

.container {
    position: relative;
    z-index: 999;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0;
    animation: 1s ease-in 2s 1 normal forwards running fadeIn;
}

.title {
    font-size: 4rem;
    font-weight: 300;
    text-align: center;
    color: #000;
    transition: color .5s ease 0s;
}

.description {
    margin-top: 1.5rem;
    margin-bottom: 4rem;
    font-size: 1rem;
    font-weight: 400;
    color: #000;
    transition: color .5s ease 0s;
}

.btn {
    display: block;
    padding: 1rem 3rem;
    background-color: #2C272E;
    border-radius: 12px;
    box-shadow: 0 5px #1e1b20;
    font-size: 1.2rem;
    text-align: center;
    text-decoration: none;
    color: #fff;
    outline: none;
    transition: background-color .5s;
}

.btn:hover {
    background-color: #201d22;
}

.btn:focus {
    margin-top: 5px;
    margin-bottom: -5px;
    box-shadow: none;
}

.image {
    position: absolute;
    display: block;
    width: 100px;
    height: 100px;
    background-color: gray;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-clip: border-box;
    opacity: 0;
    animation: 5s ease-in 0s 1 normal forwards running fadeIn;
}

.image:nth-child(1) {
    top: 40px;
    left: 60px;
    background-color: brown;
}

.image:nth-child(2) {
    bottom: 100px;
    right: 200px;
    background-color: blue;
}

.image:nth-child(3) {
    top: 150px;
    right: 300px;
    background-color: blueviolet;
}

.image:nth-child(4) {
    bottom: 250px;
    left: 100px;
    background-color: green;
}

.image:nth-child(5) {
    top: 45%;
    right: 60px;
    background-color: orange;
}

.image:nth-child(6) {
    top: 30%;
    left: 300px;
    background-color: steelblue;
}

.image:nth-child(7) {
    bottom: 10%;
    left: 250px;
    background-color: tan;
}

@media screen and (max-width: 675px) {
    .image:nth-child(2) {
        bottom: 100px;
        right: 20%;
        background-color: blue;
    }

    .image:nth-child(3) {
        top: 150px;
        right: 20%;
        background-color: blueviolet;
    }

    .image:nth-child(5) {
        top: 45%;
        right: 5%;
        background-color: orange;
    }

    .image:nth-child(6) {
        top: 30%;
        left: 30%;
        background-color: steelblue;
    }

    .image:nth-child(7) {
        bottom: 15px;
        left: 40%;
        background-color: tan;
    }
}

@media screen and (max-width: 400px) {
    .image:nth-child(6) {
        top: 30%;
        left: 5%;
        background-color: steelblue;
    }

    .image:nth-child(7) {
        bottom: 15px;
        left: 15%;
        background-color: tan;
    }
}

/* DARK THEME */

[data-theme="dark"] .landing {
    background-color: #2C272E;
}

[data-theme="dark"] .title {
    color: #fff;
}

[data-theme="dark"] .description {
    color: #fff;
}

[data-theme="dark"] .btn {
    background-color: #988b9d;
    box-shadow: 0 5px #6b5e70;
}

[data-theme="dark"] .btn:hover {
    background-color: #6b5e70;
}