<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Artist | Groupie Tracker</title>
    <link rel="stylesheet" href="css/globals.css">
    <link rel="stylesheet" href="css/a.css">
</head>

<body>
    <nav class="navbar">
        <a href="./artists" class="btn">←←←</a>
    </nav>
    <section class="infos">
        <div>
            <div class="header">
                <img src="{{ .A.Image }}" alt="album">
                <p>{{ .A.Name }}</p>
            </div>
            <div class="content">
                <div class="grid">
                    <div class="cols">
                        <p>MEMBRES:</p>
                        <ul class="list">
                            {{ range .A.Members }}
                            <li>{{ . }}</li>
                            {{ end }}
                        </ul>
                    </div>
                    <div class="cols">
                        <div>
                            <p>DATE DE CREATION: </p>
                            <span>{{ .A.CreationDate }}</span>
                        </div>
                        <div>
                            <p>PREMIER ALBUM: </p>
                            <span>{{ .A.FirstAlbum }}</span>
                        </div>
                    </div>
                </div>
                <div class="concert">
                    <p class="tableTitle">CONCERTS</p>
                    <div class="table">
                        <ul class="tablecols">
                            <li class="tableColsTitle"> DATES</li>
                            {{ range .Dates }}
                            <li>{{ . }}</li>
                            {{ end }}
                        </ul>
                        <ul class="tablecols">
                            <li class="tableColsTitle"> LIEUX</li>
                            {{ range .Locations }}
                            <li>{{ . }}</li>
                            {{ end }}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>

</html>